@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #FFF2D7;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px */
  .sidebar {
    /* Adjust the width as needed for mobile */
    width: 100%; /* You can change the width value */
  }
}



