@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #FFF2D7;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
  }
}



